.dataframe{
    text-align:center;
    width: 100%;
    border: 2px;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
}
thead{
    text-align: justify;
}
tr{
    height: 50px;
    text-align: center !important;
    font-family:Arial, Helvetica, sans-serif !important;;
}
th{
    width: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
img{
    margin: 20px;
}